# GitHub Workflow to run tests automatically
# https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: Python pytest and mypy
on: [ push ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.12'
          architecture: 'x64'
      - name: Display Python version
        run: python -c "import sys; print(sys.version)"
      - name: Install Poetry
        run: |
          python -m pip install poetry
          poetry install

      - name: Test with pytest
        run: poetry run pytest --cov=jirahours --junitxml=junit/test-results.xml

      - name: Test with mypy
        run: poetry run mypy src tests
